<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<p th:each="account : ${accounts}">
    <span th:class="(${account.animalType} == 'carry') ? offer : offer2">
        <span th:text="${accountStat.index} + ${account.getName()}"></span>
         <!--<span th:if="${account.isHeBad()} ? #{true} : #{false}">NotBadGuy</span>-->
        <span th:if="${account.isHeBad()}">NotBadGuy</span>
        <span th:unless="${account.isHeBad()}">BadGuy</span>
        </span>

</p>
</body>
</html>