<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Foxy</title>
</head>
<body>
<h1>Nutrition Store</h1>
<ul>
    <li><a th:href="@{'/'}">Information</a></li>
</ul>
<form action="/addnutrition">
    <tr>
        <th>Food</th>
    </tr>
    <tr>
        <td><input type="list" name="food"/></td>
    <tr>
        <th>Drink</th>
    </tr>
    <td><input type="list" name="drink"/></td>
    <td><input type="submit" value="Add"/></td>
    </tr>
</form>
<table>
    <form action="/changenutrition">
        <tr><th>Select your nutrition</th></tr>
        <tr>
            <th>Food</th>
        </tr>
            <td>
                <select name="food">
                    <option th:each="food : ${menu.foods}" th:value="${food}" th:text="${food}">Food</option>
                </select>
            </td>
        <tr>
            <th>Drink</th>
        </tr>
            <td>
                <select name="drink">
                    <option th:each="drink : ${menu.drinks}" th:value="${drink}" th:text="${drink}">Drink</option>
                </select>
            </td>
            <td><input type="submit" value="Take these!"/></td>
    </form>
</table>
</body>
</html>