<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Foxy</title>
</head>
<body>
<ul>
    <li><a th:href="@{'/'}">Information</a></li>
</ul>
<form action="/changenutrition">
    <tr>
        <th>Food</th>
    </tr>
    <tr>
        <th>Water</th>
    </tr>
    <tr>
        <td><input type="list" name="food"/></td>
        <td><input type="list" name="drink"/></td>
        <td><input type="submit" value="Change"/></td>
    </tr>
</form>
</body>
</html>